<div class="main">
  <div class="questionHeading">All Questions</div>
  <app-loader *ngIf="isLoading" style="text-align: center"></app-loader>
  <div class="questionWrapper" *ngIf="!isLoading">
    <div class="question" *ngFor="let question of questions">
      <div class="left">
        <div class="upvotes">{{ question.upvotes }}</div>
        <div class="upvoteButtons">
          <div class="icon top">
            <fa-icon (click)="upvote(question)" [icon]="faangleup"></fa-icon>
          </div>
          <div class="icon">
            <fa-icon
              (click)="downvote(question)"
              [icon]="faangledown"
            ></fa-icon>
          </div>
        </div>
        <div class="questionDescription" (click)="setCurrentQuestion(question)">
          {{ question.title }}
        </div>
      </div>
    </div>
  </div>
</div>
