<div class="main">
  <div class="question">Question</div>
  <div class="title">{{ question.title }}</div>
  <div class="descriptionWrapper">
    <div class="upvotes">0</div>
    <div class="upvoteButtons">
      <div class="icon top">
        <fa-icon [icon]="faangleup"></fa-icon>
      </div>
      <div class="icon">
        <fa-icon [icon]="faangledown"></fa-icon>
      </div>
    </div>
    <div class="questionDescription">
      {{ question.description }}
    </div>
  </div>
  <div *ngIf="answers && answers.length === 0" class="noAnswer">
    No one has answered the question yet. Be the first.
  </div>
  <div class="answer" *ngIf="answers && answers.length !== 0">Answers</div>
  <div class="answers">
    <div *ngIf="answers && answers.length !== 0">
      <div class="answerWrapper" *ngFor="let answer of answers">
        <div class="upvotes">{{ answer.upvotes }}</div>
        <div class="upvoteButtons">
          <div class="icon top">
            <fa-icon [icon]="faangleup"></fa-icon>
          </div>
          <div class="icon">
            <fa-icon [icon]="faangledown"></fa-icon>
          </div>
        </div>
        <div class="answerDescription">
          {{ answer.answer }}
        </div>
      </div>
    </div>

    <div class="form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <textarea
          type="text"
          class="form-control"
          rows="4"
          [(ngModel)]="newAnswer"
          name="answer"
          required
          placeholder="Type your answer here"
        ></textarea>
        <button class="btn btn-success">Post your answer</button>
      </form>
    </div>
  </div>
</div>
