<div class="overlay" (click)="onCancel()">
  <div class="box" (click)="onBoxClick($event)">
    <div *ngIf="signIn">
      <h1>Sign In</h1>
      <form #Loginform="ngForm" (submit)="onLogin(Loginform)">
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input
            [(ngModel)]="loginData.email"
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
            email
            #loginEmail="ngModel"
          />
          <div
            class="inputError"
            *ngIf="loginEmail.touched && loginEmail.invalid"
          >
            <span *ngIf="loginEmail.errors?.['required']"
              >Email is required</span
            >
            <span *ngIf="loginEmail.errors?.['email']">Invalid Email</span>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input
            [(ngModel)]="loginData.password"
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
            #loginPassword="ngModel"
          />
          <div
            class="inputError"
            *ngIf="loginPassword.touched && loginPassword.invalid"
          >
            <span *ngIf="loginPassword.errors?.['required']"
              >Password is required</span
            >
          </div>
        </div>
        <button class="btn btn-outline-primary" type="submit">Login</button>
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </form>
      <div class="end">
        New here? <span class="link" (click)="toSignUp()">Sign up!</span>
      </div>
    </div>
    <div *ngIf="signUp">
      <h1>Sign Up</h1>
      <form class="" #Registerform="ngForm" (submit)="onRegister(Registerform)">
        <div class="form-group">
          <label for="username" class="form-label">Username</label>
          <input
            [(ngModel)]="registerData.username"
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
            #registerUsername="ngModel"
          />
          <div
            class="inputError"
            *ngIf="registerUsername.touched && registerUsername.invalid"
          >
            <span *ngIf="registerUsername.errors?.['required']"
              >Username is required</span
            >
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input
            [(ngModel)]="registerData.email"
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
            #registerEmail="ngModel"
          />
          <div
            class="inputError"
            *ngIf="registerEmail.touched && registerEmail.invalid"
          >
            <span *ngIf="registerEmail.errors?.['required']"
              >Email is required</span
            >
            <span *ngIf="registerEmail.errors?.['email']">Invalid Email</span>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input
            [(ngModel)]="registerData.password"
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
            #registerPassword="ngModel"
          />
          <div
            class="inputError"
            *ngIf="registerPassword.touched && registerPassword.invalid"
          >
            <span *ngIf="registerPassword.errors?.['required']"
              >Password is required</span
            >
          </div>
        </div>
        <button class="btn btn-outline-primary" type="submit">Register</button>
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </form>
      <div class="end">
        New here? <span (click)="toSignIn()">Sign up!</span>
      </div>
    </div>
  </div>
</div>
