<nav class="header">
  <div class="left">
    <div>
      <a href="#" class="header-link home">AskQuestions</a>
    </div>
    <div class="header-link" (click)="toQuestions()">Questions</div>
    <div class="header-link" (click)="toNewQuestions()">New Question</div>
  </div>
  <div class="right">
    <div class="header-link" (click)="onLogin()" *ngIf="!isAuthenticated">
      Login
    </div>
    <div class="header-link" *ngIf="!isAuthenticated" (click)="onRegister()">
      Register
    </div>
    <div class="header-link" *ngIf="isAuthenticated" (click)="onLogout()">
      Logout
    </div>
  </div>
</nav>
