<div class="row">
  <div class="col-md-8 offset-md-2 col-xl-4 offset-xl-4">
    <h3 class="heading">Enter the question</h3>
    <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label for="title" class="form-label">Question Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
          [(ngModel)]="questionData.title"
          #title="ngModel"
        />
        <div class="inputError" *ngIf="title.touched && title.invalid">
          <span *ngIf="title.errors?.['required']">Title is required</span>
        </div>
      </div>

      <div class="form-group">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          rows="3"
          required
          [(ngModel)]="questionData.description"
          #description="ngModel"
        ></textarea>
        <div
          class="inputError"
          *ngIf="description.touched && description.invalid"
        >
          <span *ngIf="description.errors?.['required']"
            >Description is required</span
          >
        </div>
      </div>
      <button [disabled]="!form.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
